@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 60px;
  border-bottom: 1px solid #e3e2e2;
}

.logo {
  padding: 15px;
}

.logo img {
  width: 100%;
  max-width: 120px;
}

.hidden {
  display: none;
}

.search {
  width: 100%; /*100% of it parent*/
}

.search input {
  /* rgba - which is a for transparent */
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* to delete outline */
  outline: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 5px 8px;
  width: 100%;
  height: 40px;
}

.search-button {
  height: 40px;
  outline: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0px 15px;
}

.search > div {
  padding: 0;
}

.avatar {
  max-width: 30px;
}

.avatar img {
  border-radius: 100%;
}

.layout {
  width: 100vw; /*make it full screen*/
}

.nav {
  border-right: 1px solid #e3e2e2;
  /*calc - calculate the height from bottom to the header*/
  height: calc(100vw - 60px);
  /*make item overflow vertical - can scroll*/
  overflow-y: auto;
  /*set the max width for side nav*/
  max-width: 250px;
}

.menu-item i {
  margin-right: 10px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.75);
}

section {
  padding: 20px 0px;
  border-bottom: 1px solid #e3e2e2;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  padding: 5px 15px;
}

.page {
  padding: 0px;
}

.tags {
  padding: 0px 15px;
  border-bottom: 1px solid #e3e2e2;
}

.tags-content {
  /* nowrap - will not stack it horizontally  as default*/
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tag {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px 0px;
}

/* target tag that has class .tag and .active */
.tag.active {
  background-color: black;
  color: white;
}

.content {
  background: #f9f9f9;
}

/* container that hold the video */
.video-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.videos {
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: auto;
  padding: 20px 80px;
}

.video {
  width: 100%;
  height: 200px;
}

.video img {
  height: 100%;
  width: 100%;
  /* make image cover the enire element */
  object-fit: cover;
}

.video-info {
  margin-top: 10px;
}

.video-title {
  font-size: 16px;
  font-weight: bold;
  /* make the text to be cut so it will not be too long - like substr */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* */
}

.author-image {
  margin-right: 10px;
}

.author-image img {
  border-radius: 100%;
  width: 30px;
}

.video-stats {
  font-size: 14px;
}

/* for index.html inside video folder */
.player {
  padding: 30px;
}

.embed {
  height: 300px;
}

/* for desktop view */
@media screen and (min-width: 64em) {
  .hidden {
    display: block;
  }
  .embed {
    height: 500px;
    width: 888px;
  }
}
