@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 60px;
  border-bottom: 1px solid #e3e2e2;
}

.logo {
  padding: 15px;
}

.logo img {
  width: 100%;
  max-width: 120px;
}

.hidden {
  display: none;
}
